<f:layout name="EmailTemplate" />

{namespace c = CIC\Cicbase\ViewHelpers}

<f:section name="main">

	<h3 class="uppercase">Editing Template for "{emailTemplate.templateKey}"</h3>

	<f:form action="update" name="emailTemplate" object="{emailTemplate}">

		<f:render partial="EmailTemplate/Fields" arguments="{_all}" />

		<div class="field">
			<f:form.submit value="Save Email Template" />
		</div>
	</f:form>


</f:section>

<f:section name="menu-primary">
	<f:link.action action="delete" arguments="{emailTemplate: emailTemplate}" title="Delete this Email Template">
		<core:icon identifier="actions-edit-delete" />
	</f:link.action>
</f:section>