<f:layout name="EmailTemplate" />

<f:section name="main">

	<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">

		<!-- Element, begin: -->
		<tbody>
			<tr class="c-table-row-spacer">
				<td nowrap="nowrap" class="col-icon"><img src="clear.gif" width="1" height="8" alt=""></td>
				<td nowrap="nowrap" class="col-icon"><img src="clear.gif" width="1" height="8" alt=""></td>
				<td nowrap="nowrap" class="" colspan="5"></td>
			</tr>
			<!-- Element, begin: -->
			<tr class="t3-row-header">
				<td nowrap="nowrap" class="col-icon"></td>
				<td nowrap="nowrap" class="col-icon"></td>
				<td nowrap="nowrap" class="" colspan="5"><span class="c-table">Email Template</span> ({f:count(subject:templates)})</td>
			</tr>
			<!-- Element, begin: -->
			<tr class="c-headLine">
				<td nowrap="nowrap" class="col-icon"></td>
				<td nowrap="nowrap" class="col-icon"></td>
				<td nowrap="nowrap" class="col-title"><strong>Corresponding Template Key</strong></td>
				<td nowrap="nowrap" class="">&nbsp;</td>
				<td nowrap="nowrap" class=""><strong>Subject</strong></td>
				<td nowrap="nowrap" class=""><strong>Template Body</strong></td>
				<td nowrap="nowrap" class=""><strong>Is Draft?</strong></td>
			</tr>

			<f:for each="{templates}" as="template" iteration="iter">
				<tr class="db_list_normal {f:if(condition:iter.isLast, then: 'lastcol')} {f:if(condition:iter.isFirst, then: 'firstcol')}">
					<td nowrap="nowrap" class="col-icon">
						<f:link.action action="edit" arguments="{emailTemplate: template}" title="Edit this template">
							<core:icon identifier="actions-document-open" />
						</f:link.action>
					</td>

					<td nowrap="nowrap" class="col-icon">
						<f:link.action action="delete" arguments="{emailTemplate: template}" title="Delete this template">
							<core:icon identifier="actions-edit-delete" />
						</f:link.action>
					</td>

					<td nowrap="nowrap" class="col-title">{template.templateKey}</td>
					<td nowrap="nowrap" class="">&nbsp;</td>
					<td nowrap="nowrap" class="">{template.subject}</td>
					<td nowrap="nowrap" class="">
						<f:format.crop maxCharacters="50">{template.body}</f:format.crop>
					</td>
					<td nowrap="nowrap" class="">{f:if(condition:template.isDraft, then: 'Yes', else: 'No')}</td>
				</tr>
			</f:for>

		</tbody>
	</table>

</f:section>

<f:section name="menu-primary">
	<f:link.action action="selectTemplate" title="Create new template">
		<core:icon identifier="actions-document-new" />
	</f:link.action>
</f:section>