<f:layout name="EmailTemplate" />

{namespace c = CIC\Cicbase\ViewHelpers}

<f:section name="main">

	<h3 class="uppercase">New Template for "{selectedTemplateKey}"</h3>

	<f:form action="create" name="emailTemplate" object="{emailTemplate}">
		<f:form.hidden name="selectedTemplateKey" value="{selectedTemplateKey}" />
		<f:form.hidden property="templateKey" value="{selectedTemplateKey}" />

		<f:render partial="EmailTemplate/Fields" arguments="{_all}" />

		<div class="field">
			<f:form.submit value="Create Email Template" />
		</div>
	</f:form>

</f:section>

<f:section name="menu-primary">

</f:section>