<f:layout name="Backend" />

{namespace c = CIC\Cicbase\ViewHelpers}

<f:section name="main">

	<h3>New Template for "{selectedTemplateKey}"</h3>

	<f:form action="create" name="emailTemplate" object="{emailTemplate}">
		<f:form.hidden name="selectedTemplateKey" value="{selectedTemplateKey}" />
		<f:form.hidden property="templateKey" value="{selectedTemplateKey}" />

		<div class="field">
			<label><f:form.checkbox property="isDraft" value="yes" /> Is draft version?</label>
		</div>

		<div class=field">
			<label>Email Body</label>
			<f:if condition="{emailTemplate.body}">
				<f:then>
					<f:form.textarea property="body" />
				</f:then>
				<f:else>
					<f:form.textarea property="body" value="{defaultBody}" />
				</f:else>
			</f:if>

		</div>

		<div class="field">
			<f:form.submit value="Create Email Template" />
		</div>
	</f:form>

</f:section>

<f:section name="menu-primary">

</f:section>