<f:layout name="EmailTemplate" />

{namespace c = CIC\Cicbase\ViewHelpers}

<f:section name="main">

	<f:if condition="{noKeys}">
		<f:then>
			<h4>There are no templates available at this time.</h4>
		</f:then>
		<f:else>
			<f:form action="new" >

				<div class="field">
					<label>Available Templates</label>
					<c:form.selectWithBody name="selectedTemplateKey" >
						<f:for each="{templateKeys}" as="keys" key="ext">
							<optgroup label="{ext}">
								<f:for each="{keys}" as="key">
									<option value="{ext}.{key}">{key}</option>
								</f:for>
							</optgroup>
						</f:for>
					</c:form.selectWithBody>
				</div>

				<div class="field">
					<f:form.submit value="Use this Template" />
				</div>
			</f:form>
		</f:else>
	</f:if>

</f:section>

<f:section name="menu-primary">

</f:section>