<f:be.container
		pageTitle="foo"
		enableJumpToUrl="false"
		enableClickMenu="false"
		loadPrototype="true"
		loadScriptaculous="false"
		loadExtJs="false"
		loadExtJsTheme="false"
		enableExtJsDebug="false">

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<f:render section="menu-secondary" optional="1" />
			</div>
			<div id="typo3-docheader-row2">
				<f:render section="menu-primary" optional="1" />
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="main"/>
			</div>
		</div>
	</div>

</f:be.container>
