<f:be.container
	pageTitle="foo"
	enableClickMenu="false"
	loadJQuery="true"
	loadExtJs="false"
	loadExtJsTheme="false"
	enableExtJsDebug="false"
	includeCssFiles="{0:\"{f:uri.resource(path: 'Styles/backend.css')}\"}"
	includeJsFiles="{0:\"{f:uri.resource(path: 'Scripts/backend.js')}\"}">

	<link rel="stylesheet" href="{f:uri.resource(path: 'Vendor/CodeMirror/codemirror.css')}" />


	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<f:render section="menu-secondary" optional="1" />
			</div>
			<div id="typo3-docheader-row2">
				<f:render section="menu-primary" optional="1" />
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">

				<f:flashMessages />

				<div class="tx-cicbase-module">
					<f:render section="main"/>
				</div>
			</div>
		</div>
	</div>

	<script src="{f:uri.resource(path: 'Vendor/CodeMirror/codemirror.js')}" type="text/javascript"></script>
	<script src="{f:uri.resource(path: 'Vendor/CodeMirror/xml.js')}" type="text/javascript"></script>


</f:be.container>
