<div class="field">
	<label class="inline"><f:form.checkbox property="isDraft" value="yes" /> Is this just a draft?</label>
</div>

<div class="field">
	<label>Email Body</label>
	<p>Email templates are written in Fluid html. This allows for access to data values (within curly brackets
	i.e.<code>{settings.pid.storage}</code>) and certain helper tags (starting with <code>&lt;f:</code>). Be
	careful with this extra information. A misspelling, missing bracket, or a missing quotation can throw an error and
	prevent the email from being sent.</p>
	<f:if condition="{emailTemplate.body}">
		<f:then>
			<f:form.textarea id="template-editor" property="body" />
		</f:then>
		<f:else>
			<f:form.textarea id="template-editor" property="body" value="{defaultBody}" />
		</f:else>
	</f:if>
</div>
